        <p class="line-item-property__field">
                <label for="monogram">Texte de personnalisation</label>
                <input required id="monogram" style="width:350px; max-width:100%;" type="text" name="properties[Monogram]">
              	</p>
                  
              	<p class="line-item-property__field">
                  <label class="ep_block">Typo</label>
                  <select required id="choose-an-option" name="properties[Choose an option]">
                  <option value="Option 1">Ballantine</option>
                  <option value="Option 2">Chancery</option>
                  <option value="Option 3">Times Roman</option>
                  </select>
                  </p>
                  
              	<p class="line-item-property__field">
                  <label class="ep_block">Couleur de la Broderie</label>
                  <select required id="choose-an-option" name="properties[Choose an option]">
                  <option value="Option 1">Noir</option>
                  <option value="Option 2">Gris Foncé</option>
                  <option value="Option 3">Gris Moyen</option>
                  <option value="Option 4">Blanc</option>
                  <option value="Option 5">Bleu Marine</option>
                  <option value="Option 6">Bleu Ciel</option>
                  <option value="Option 7">Rouge</option>
                  <option value="Option 8">Rose</option>
                  <option value="Option 9">Rose Pâle</option>
                  <option value="Option 10">Marron</option>
                  <option value="Option 11">Jaune</option>
                  <option value="Option 12">Orange</option>
                  <option value="Option 13">Doré</option>
                  </select>
                  </p>